@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loadProgress {
    0% { width: 0; }
    100% { width: var(--bar-width); }
}

.progress-bar-animation {
    width: 0;
    animation: loadProgress 1.5s ease-out forwards;
    animation-delay: 0.5s;
}